@import '../../styles/vars.scss';

#Projects {
  min-height: 100vh;
  width: 100vw;
  padding: 160px 64px 32px 64px;
  background: $white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  @media (max-width: $mobile) {
    padding: 132px 16px 32px 16px;
  }

  p {
    margin: 32px 0;
  }
  a {
    width: 100%;
    color: $primary;
    font-weight: 700;
    cursor: pointer;
  }

  .NoProjects {
    width: 100%;
    text-align: center;
    color: $secondary;
    padding: 32px 0;
  }

  #ProjectListHeader {
    display: grid;
    width: 100%;
    grid-template-columns: 48px 2fr 1fr 1fr 1fr;
    width: 100%;
    padding: 0 16px;

    * {
      margin: auto 0;
    }

    h5 {
      font-weight: 900;
      color: $primary;
    }
  }
}
