@import '../../styles/vars.scss';

#Landing {
  height: 100vh;
  width: 100vw;
  padding: 32vh 64px 64px 64px;
  background: linear-gradient(to bottom right, $secondary, $primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  @media (max-width: $mobile) {
    padding: 24vh 16px 64px 16px;
  }

  #Cursor1,
  #Cursor2 {
    height: 48px;
    width: 16px;
    background: $neon;
  }

  #Cursor1 {
    display: inline;
    animation: disappear 0s forwards linear 1.4s;
  }

  #Cursor2 {
    opacity: 0;
    animation: appear 0s forwards linear 1.4s, blink 0.84s forwards infinite 3s;
  }

  > h1 {
    position: relative;
    color: $white;
    padding-right: 24px;
    &:empty {
      height: 48px;
    }

    @media (max-width: $mobile) {
      font-size: 32px;
    }
  }

  > h4 {
    margin-top: 16px;
    color: $white;
    opacity: 0;
    animation: fade-in 0.48s ease-in forwards 3s;
    max-width: 600px;

    @media (max-width: $mobile) {
      font-size: 18px;
    }
  }

  > div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 32px 0;
    opacity: 0;
    animation: fade-in 0.48s ease-in forwards 3s;

    @media (max-width: $mobile) {
      flex-direction: column;
    }

    button {
      width: 256px;
      margin: 8px;
      background: $transparent;
      border: 3px solid $white;

      &:hover {
        background: rgba($dark, 0.32);
      }
    }
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes disappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
