$primary: #35ac56;
$dark: #30974d;
$secondary: #8fe5a8;
$neon: #39ff14;
$blue: #4c8bf5;
$white: #fff;
$black: #000;
$grey1: #eee;
$grey2: #ccc;
$grey3: #999;
$transparent: rgba(0, 0, 0, 0);
$shadow: rgba(0, 0, 0, 0.32);
