$primary: #35ac56;
$secondary: #8fe5a8;
$dark: #30974d;
// $primary: rgb(40, 15, 142);
// $secondary: rgb(158, 133, 255);
// $dark: rgb(25, 8, 89);
$neon: #39ff14;
$blue: #4c8bf5;
$white: #fff;
$black: #000;
$grey1: #eee;
$grey2: #ccc;
$grey3: #999;
$transparent: rgba(0, 0, 0, 0);
$shadow: rgba(0, 0, 0, 0.32);
$mobile: 650px;
