@import '../../styles/vars.scss';

#Header {
  position: fixed;
  top: 0;
  left: 0;
  height: 96px;
  width: 100vw;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  overflow: hidden;
  z-index: 10;

  &.transparent {
    #HeaderBackground {
      display: none;
    }
  }

  &.expanded {
    #HeaderBackground {
      display: block;
      background: rgba($dark, 0.84);
    }
    height: 80vh;
    align-items: flex-start;
  }

  img {
    height: 48px;
  }

  #HeaderLinksMobile {
    display: none;

    &.expanded {
      position: absolute;
      top: 96px;
      display: flex;
      ul {
        display: flex;
        flex-direction: column;
      }
    }
  }

  #HeaderBackground {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to bottom right, $secondary, $primary);
    z-index: -1;
  }

  h2 {
    color: $white;
    font-weight: 900;
    letter-spacing: -1px;
    margin-top: 12px;
  }

  ul {
    text-decoration: none;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 8px;

    li {
      color: white;
      padding: 16px 24px;
      cursor: pointer;

      &:hover {
        color: $neon;
      }

      &.active {
        font-weight: 900;
        color: $white;
      }

      @media (max-width: $mobile) {
        font-size: 32px;
      }
    }
  }
}
