@import '../../styles/vars.scss';

.Header {
  position: fixed;
  top: 0;
  left: 0;
  height: 96px;
  width: 100vw;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  z-index: 10;

  #HeaderBackground {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to bottom right, $secondary, $primary);
    z-index: -1;
  }

  &.transparent {
    #HeaderBackground {
      display: none;
    }
  }

  h2 {
    color: $white;
    font-weight: 900;
    letter-spacing: -1px;
  }

  ul {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;

    li {
      color: white;
      padding: 16px 24px;
      cursor: pointer;

      &:hover {
        color: $neon;
      }

      &.active {
        font-weight: 900;
        color: $white;
      }
    }
  }
}
